<div class="col-md-3">
    <div class="text-center">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
        <a ui-sref="person" class="logo hidden-sm hidden-xs">
            <i class="fa fa-graduation-cap"></i>
            <span>{{user.user_name}}，你好！</span>
        </a>
        <!-- <div class="search-box">
          <input type="text" placeholder="搜索" class="form-control">
        </div> -->
        <div class="relative-w">
            <ul class="side-menu">
                <li ui-sref-active="current" ng-show="user.as_enable">
                    <a ui-sref="statistics">
                        <i class="fa fa-bar-chart"></i> 校友统计
                    </a>
                </li>

                <li ui-sref-active="current" ng-show="user.um_enable">
                    <a ui-sref="alumnus">
                        <i class="fa fa-id-card-o"></i> 校友管理
                    </a>
                </li>

                <li ui-sref-active="current" ng-show="user.nuv_enable">
                    <a ui-sref="audit">
                        <i class="fa fa-address-book-o"></i> 用户授权
                    </a>
                </li>

                <li ui-sref-active="current" ng-show="user.uim_enable">
                    <a ui-sref="school">
                        <i class="fa fa-building-o"></i> 学校信息管理
                    </a>
                </li>

                <!--<li ui-sref-active="current" ng-show="user.om_enable">-->
                    <!--<a ui-sref="organization">-->
                        <!--<i class="fa fa-users"></i> 校友组织管理-->
                    <!--</a>-->
                <!--</li>-->

                <li  ui-sref-active="current" ng-show="user.am_enable">
                    <a ui-sref="authority">
                        <i class="fa fa-gears"></i> 系统权限管理
                    </a>
                </li>

                <li ui-sref-active="current">
                    <a ui-sref="person_info_show">
                        <i class="fa fa-user"></i> 个人信息管理
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>